<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- A1 is set to be a ConsoleAppender -->
  <appender name="A1" type="log4net.Appender.ConsoleAppender">

    <!-- A1 uses PatternLayout -->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
    </layout>
  </appender>

  <appender name="GelfUdpAppender" type="Gelf4Net.Appender.GelfUdpAppender, Gelf4Net.UdpAppender">
    
    <remoteAddress value="*****insert remote addess for your logger here*****" />
    
    <remotePort value="12202" />
    <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net.UdpAppender">
      <param name="AdditionalFields" value="app:GelfUdpAppender,version:1.0,Environment:Dev,Level:%level,Service:$safeprojectname$" />
      <param name="Facility" value="RandomPhrases" />
      <param name="IncludeLocationInformation" value="true" />
    </layout>
  </appender>

  <!-- Set root logger level to DEBUG and its only appender to A1 -->
  <root>
    <level value="ALL" />
    <appender-ref ref="A1" />
    <appender-ref ref="GelfUdpAppender" />
  </root>
</log4net>